.Title {
    background-color:#31a57e;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Title img{
    width: 40%;
    max-width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Look a img{
    width : 30%;
}